.title{color: #111;
    .titleBox{color: #111;
        ul{color: #111;
            li{color: #111;
                a{color: #111;

                }
            }
        }
    }
    .rightTitle{color: #111;
        .loginBox{color: #111;
            p{color: #111;

            }
            button{color: #111;

            }
            .snsBox{color: #111;
                p{

                }
                a{

                }
            }
        }
        .noticeBox{color: #111;
            h1{color: #111;

            }
            li{color: #111;
                a{color: #111;

                }
                date{color: #111;

                }
            }
        }
    }
}